<h1 mat-dialog-title>Play Slotmachine!</h1>
<div mat-dialog-content>
</div>
<!--*ngIf="data.slotmachinePlaying"-->
<!--*ngIf="!data.slotmachinePlaying"-->
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-raised-button color="primary"
          [mat-dialog-close]="{ claim: true }"
          *ngIf="data.slotmachinePlaying"
          cdkFocusInitial>Claim Prize!</button>
  <button mat-raised-button color="primary"
          [mat-dialog-close]="{ pullTheLever: true }"
          *ngIf="!data.slotmachinePlaying"
          cdkFocusInitial>Pull the Lever!</button>
</div>
