<mat-card class="casino-card">
  <mat-card-header>
    <mat-card-title>{{name}}</mat-card-title>
    <mat-card-subtitle>({{address}})</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="field"><mat-icon>account_balance</mat-icon>CasinoToken: <span class="value">{{tokenAddress}}</span></div>
    <div class="field"><mat-icon>videogame_asset</mat-icon>GamblingHall: <span class="value">{{gamblingHallAddress}}</span></div>
    <app-balances [address]="address"></app-balances>
    <div class="field">Opened: <span class="value">{{opened}}</span></div>
    <div class="field">Token Price: <span class="value">{{tokenPrice.toString()}}</span> Ξ</div>
    <div class="field">Exchange Fee: <span class="value">{{exchangeFee.toString()}}</span> Ξ</div>
    <mat-grid-list cols="3" rowHeight="5:5">
      <mat-grid-tile><app-account [address]="ownerAddress"></app-account></mat-grid-tile>
      <mat-grid-tile><app-account [address]="managerAddress"></app-account></mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
