<mat-card class="casino-card">
  <mat-card-header>
    <mat-card-title>{{casino.name}}</mat-card-title>
    <mat-card-subtitle>({{casino.address}})</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="field">Owner: <span class="value">{{casino.owner.address}}</span></div>
    <div class="field">Manager: <span class="value">{{casino.manager.address}}</span></div>
    <div class="field"><mat-icon>account_balance</mat-icon>CasinoToken: <span class="value">{{casino.token.address}}</span></div>
    <div class="field"><mat-icon>videogame_asset</mat-icon>GamblingHall: <span class="value">{{casino.gamblingHall.address}}</span></div>
    <app-has-tokens-and-ether [tokensAndEther]="casino"></app-has-tokens-and-ether>
    <div class="field">Opened: <span class="value">{{casino.opened}}</span></div>
    <div class="field">Token Price: <span class="value">{{casino.tokenPrice}}</span></div>
    <div class="field">Exchange Fee: <span class="value">{{casino.exchangeFee}}</span></div>
    <mat-grid-list cols="2" rowHeight="fit">
      <mat-grid-tile><app-account [account]="casino.owner"></app-account></mat-grid-tile>
      <mat-grid-tile><app-account [account]="casino.manager"></app-account></mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openInviteDialog()">Invite Account</button>
  </mat-card-actions>
</mat-card>
