<h1 mat-dialog-title>Produce CasinoTokens and transfer them to an address</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-select placeholder="Address" [(value)]="produceAccountAddress">
      <mat-option *ngFor="let contractAccount of data.contractAccounts" [value]="contractAccount.address">
        {{ contractAccount.address.substring(0,6) }}... ({{contractAccount.name}})
      </mat-option>
      <mat-option *ngFor="let externalAccount of data.externalAccounts" [value]="externalAccount.address">
        {{ externalAccount.address.substring(0,6) }}... ({{ setToList(externalAccount.roles) }})
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Tokens" [(value)]="produceTokens">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="{
      address: this.produceAccountAddress,
      tokens: this.produceTokens
    }" cdkFocusInitial>Ok</button>
</div>
