<mat-card class="game-card">
  <mat-card-header>
    <mat-card-title>{{name}} <span class="type">({{type}})</span></mat-card-title>
    <mat-card-subtitle>({{address}})</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="field">Prize: <span class="value">{{prize}}</span> {{symbol}}</div>
    <div class="field">Price: <span class="value">{{price}}</span> {{symbol}}</div>
    <div class="field">Deposit: <span class="value">{{deposit}}</span> {{symbol}}</div>
    <div class="field">Chance: <span class="value">1 in {{possibilities}}</span></div>
    <div class="field">Available: <span class="value">{{available}}</span></div>
    <app-balances [address]="address"></app-balances>
    <mat-grid-list class="managers" cols="1" rowHeight="5:5">
      <mat-grid-tile><app-account [address]="superviserAddress"></app-account></mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
