<h1 mat-dialog-title>Change Token Exchange Fee</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput type="text" placeholder="Wei" [(ngModel)]="exchangeFee" />
  </mat-form-field>
  <p>Token price: {{tokenPriceEther()}} Ξ ({{euroPerWei.times(tokenPrice).toFixed(3)}} €)</p>
  <p>Current Exchange fee: {{this.currentExchangeFeeEther()}} Ξ ({{euroPerWei.times(currentExchangeFee).toFixed(3)}} €)</p>
  <p>Exchange fee: {{exchangeFeeEther()}} Ξ ({{euroPerWei.times(exchangeFee).toFixed(3)}} €)</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="exchangeFee" cdkFocusInitial>Ok</button>
</div>


